<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="author" content="The Poster Store">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Poster Store offers high-quality, affordable, and customizable posters from popular movies, games, and artwork. Discover stunning wall art to adorn your space with exclusive designs and exciting offers.">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>The Poster Store</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--Icon-->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-liberty-market.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<!--

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="home" class="logo">
                        <img src="static/images/logo_new.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="home" >Home</a></li>
                        <li><a href="" class="active">Explore</a></li>
                        <li><a href="https://www.instagram.com/theposterstore.io/">Instagram</a></li>
                        <li><a href="https://discord.gg/xryebhbK">Discord</a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>The Poster Store</h6>
                <h2>Here Are Some Hot Picks</h2>
                <span><a href="/home">Home > </a><a href="#">Explore</a></span>
            </div>
        </div>
    </div>
    <div class="featured-explore">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-features owl-carousel">
                        {% for random_item in random_list %}
                        <div class="item">
                            <div class="thumb">
                                <img src="{{random_item.image_url}}" alt="{{ random_item.item_name }}" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>{{ random_item.item_name | upper }}</h4>
                                        <span class="author">
                                            <h6>{{ random_item.collection_name }}</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="discover-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2>Discover Some Of Our <em>Items</em>.</h2>
                </div>
            </div>
            <div class="col-lg-7">
                <form id="search-form" name="gs" method="get" role="search" action="/explore">
                    <div class="row">
                        <div class="col-lg-4">
                            <fieldset>
                                <input type="text" name="keyword" class="searchText" placeholder="Type Something..." autocomplete="on" value="{{ request.args.get('keyword', '') }}">
                            </fieldset>
                        </div>
                        <div class="col-lg-3">
                            <fieldset>
                                <select name="Category" class="form-select" aria-label="Default select example" id="chooseCategory">
                                    <option value="">All Categories</option>
                                    {% for collection_name in collection_names %}
                                    <option value="{{ collection_name }}" {% if collection_name == request.args.get('Category') %}selected{% endif %}>{{ collection_name }}</option>
                                    {% endfor %}
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-2">                        
                            <fieldset>
                                <button class="main-button" type="submit">Search</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            {% if all_items_list %}
            {% for all_item in all_items_list %}
            <div class="col-lg-3">
                <div class="item">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="author"></span>
                            <img src="{{all_item.image_url}}" alt="{{ all_item.item_name }}" style="border-radius: 20px;">
                            <h4>{{ all_item.item_name | upper }}</h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="line-dec"></div>
                            <div class="row">
                                <div class="col-6">
                                    <span>Category : <br> <strong>{{ all_item.collection_name }}</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="{{ url_for('item_details', item_id=all_item._id) }}">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-lg-5">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h2>No<em> Items</em> Found . <br>Try Changing The <em>Keyword</em> And Try <em>Again</em></h2>
                </div>
            </div>
            {% endif%}
        </div>
<!-- Pagination Controls -->
<div class="row">
    <div class="col-lg-12">
        {% if total_pages > 1 %}
            <nav data-pagination>
                <!-- Previous Page Link -->
                {% if has_prev %}
                    <a href="{{ url_for('explore', page=page - 1, keyword=keyword, Category=category) }}"><i class="fa-solid fa-chevron-left"></i></a>
                {% else %}
                    <a href="#" disabled><i class="fa-solid fa-chevron-left"></i></a>
                {% endif %}

                <!-- Page Numbers -->
                <ul>
                    <!-- Always show the first page -->
                    {% if page > 3 %}
                        <li><a href="{{ url_for('explore', page=1, keyword=keyword, Category=category) }}">1</a></li>
                        <li>…</li>
                    {% endif %}

                    <!-- Show the previous page if not on the first page -->
                    {% if page > 1 %}
                        <li><a href="{{ url_for('explore', page=page - 1, keyword=keyword, Category=category) }}">{{ page - 1 }}</a></li>
                    {% endif %}

                    <!-- Show the current page -->
                    <li class="current"><a href="#">{{ page }}</a></li>

                    <!-- Show the next page if not on the last page -->
                    {% if page < total_pages %}
                        <li><a href="{{ url_for('explore', page=page + 1, keyword=keyword, Category=category) }}">{{ page + 1 }}</a></li>
                    {% endif %}

                    <!-- Always show the last page -->
                    {% if page < total_pages - 2 %}
                        <li>…</li>
                        <li><a href="{{ url_for('explore', page=total_pages, keyword=keyword, Category=category) }}">{{ total_pages }}</a></li>
                    {% endif %}
                </ul>

                <!-- Next Page Link -->
                {% if has_next %}
                    <a href="{{ url_for('explore', page=page + 1, keyword=keyword, Category=category) }}"><i class="fa-solid fa-chevron-right"></i></a>
                {% else %}
                    <a href="#" disabled><i class="fa-solid fa-chevron-right"></i></a>
                {% endif %}
            </nav>
        {% endif %}
    </div>
</div>

<!--End Of Pagination-->
</div>
</div>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2024 <a href="#">The Poster Store</a> All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="static/js/isotope.min.js"></script>
  <script src="static/js/owl-carousel.js"></script>

  <script src="static/js/tabs.js"></script>
  <script src="static/js/popup.js"></script>
  <script src="static/js/custom.js"></script>

  </body>
</html>
